* {
    margin: 0px;
    padding: 0px;
}

@mixin block {
    width: 700px;
    min-height: 50px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@mixin flexBlockRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexBlockColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin button {
    text-decoration: none;
    display: block;
    width: 70px;
    height: 25px;
    line-height: 25px;
    background-color: #669999;
    color: white;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
}

body {
    @include flexBlockColumn;
}

a {
    @include button;
}

a:hover {
    background-color: #66CC99;
}

.header {
    @include block;
    @include flexBlockRow;
    border: black solid 1px;

    .form {
        @include flexBlockRow;
    }

}

input {
    margin-left: 5px;
    margin-right: 5px;
}

.shopping__form {
    @include block;
    width: 650px;
    @include flexBlockRow;
}

.shopping__list {
    @include block;
    width: 650px;
    @include flexBlockRow;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    ul {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom:  5px;
        font-weight: 600;
        font-size: 18px;

        li {
            margin-top: 5px;
            font-weight: 400;
            font-size: 14px;
        }

        li:hover {
            text-decoration: line-through;
        }

    }
}

.app__body {
    @include flexBlockColumn;
    @include block;
    border: black solid 1px;
}






